html , body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}

#clearGrid {
    width: 910px;
    height: 100px;
    border-color: yellow;
    border-style: solid;
    border-width: 5px;
    background-color: lavender;
}

.container {
    display: grid;
    grid-template-columns: repeat(var(--grid-number), 6.25fr);
    grid-template-rows: repeat(var(--grid-number), 6.25fr);
    height: 900px;
    width: 900px;
    border-color:coral;
    border-style: solid;
    border-width: 5px;
    background-color: black;
}

.square {
    background-color: rgba(255, 255, 255, 1);
}

.black {
    background-color: black;
}


